.register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    border: 2px rgb(32, 124, 200) solid;
    padding: 20px;
    border-radius: 10px;
}

.lContainer>h1{
    text-align: center;
}

.lInput{
    height: 30px;
    padding: 10px;
}

.lNew {
    display: flex;
    flex-direction: row;
}

.lNew>p{
    padding-left: 8px;
}

.lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
}